<app-nav-bar></app-nav-bar>

<div class="container-fluid" style="margin-top: 70px;">
    <div class="container text-center">
        <h1 style="font-family: anton;">INICIO</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-------------Publicidad------------>
          <div class="col-sm h-25">
              <div class="d-flex">
                
                <img style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzNdmEE5QAHYqUNsbS6jEx8IrJri2KBGcJiKH038t4suwI05m15GPNPBOQ305L_qKUL8&usqp=CAU" class="card-img" alt="...">
                <img style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzNdmEE5QAHYqUNsbS6jEx8IrJri2KBGcJiKH038t4suwI05m15GPNPBOQ305L_qKUL8&usqp=CAU" class="card-img" alt="...">
              </div>   
              <div class="d-flex">
                
                <img style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzNdmEE5QAHYqUNsbS6jEx8IrJri2KBGcJiKH038t4suwI05m15GPNPBOQ305L_qKUL8&usqp=CAU" class="card-img" alt="...">
                <img style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzNdmEE5QAHYqUNsbS6jEx8IrJri2KBGcJiKH038t4suwI05m15GPNPBOQ305L_qKUL8&usqp=CAU" class="card-img" alt="...">
              </div>    
              <div class="d-flex">
                
                <img style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzNdmEE5QAHYqUNsbS6jEx8IrJri2KBGcJiKH038t4suwI05m15GPNPBOQ305L_qKUL8&usqp=CAU" class="card-img" alt="...">
                <img style="height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZzNdmEE5QAHYqUNsbS6jEx8IrJri2KBGcJiKH038t4suwI05m15GPNPBOQ305L_qKUL8&usqp=CAU" class="card-img" alt="...">
              </div>     
              </div>
          <!-------------SeccionPrincipal------------>
          <div class="col-sm">
            <div class="card">
              <button type="button" class="arrow-btn btn btn-primary next-btn" (click)="showNext()">Next &gt;</button>
              <img [src]="mascota[currentCardIndex]?.url_img" class="card-img-top w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title"><b>Raza:</b> {{ mascota[currentCardIndex]?.raza }}</h5>
                <p class="card-text"><b>Descripcion:</b> {{ mascota[currentCardIndex]?.descripcion }}</p>
                <p class="card-text"><b>Fecha:</b> {{ mascota[currentCardIndex]?.fecha }}</p>
                <p class="card-text"><b>Lugar:</b> {{ mascota[currentCardIndex]?.ubicacion }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <button type="button" class="arrow-btn btn btn-primary prev-btn" (click)="showPrevious()">&lt; Previous</button>
            </div>
          </div>
          
          <!-------------Links y Donaciones------------>
          <div class="col-sm">
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Protectora de animales</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Veterinaria San Antonio</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Refugio Canino</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Protectora de animales</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Veterinaria San Antonio</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Refugio Canino</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Protectora de animales</b></a></div>
             <div class="border dorder-solid bg-secondary border-primary"><a href="" class="text-decoration-none text-white ms-2"><b>Veterinaria San Antonio</b></a></div>
             
             <div class="card bg-dark text-white mt-5">
                <img src="https://www.marketeroslatam.com/wp-content/uploads/2021/08/mercado-pago.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      
</div>