<div class="divPrincipal container-fluid text-center" style="margin-top: 70px;">
    <div>
        <h1 class="text-white" style="font-family: anton;">Contacto</h1>
    </div>
    <p class="ms-5 me-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quasi odio reiciendis porro at amet voluptatibus iure doloremque, nam eius numquam! Illum corporis voluptate incidunt dolore? Dolore minima deserunt eius!</p>

    <div class="container-fluid  d-flex justify-content-center">
        <form class="w-50 bg-info">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
          </div>
          <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea class="form-control" id="mensaje" rows="5" placeholder="Ingrese su mensaje"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      
</div>