<div class="container-fluid" style="margin-top: 70px;">
    <div class="container text-center">
        <h1 style="font-family: anton;">Mascotas Perdidas</h1>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-sm">
        <div class="card">
            <img [src]="perdidos[0].url_img" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> {{perdidos[0].raza}}</h5>
              <p class="card-text"><b>Descripcion:</b> {{perdidos[0].descripcion}}</p>
              <p class="card-text"><b>Fecha:</b> {{perdidos[0].fecha}}</p>
              <p class="card-text"><b>Lugar:</b> {{perdidos[0].ubicacion}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img [src]="perdidos[1].url_img" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> {{perdidos[1].raza}}</h5>
              <p class="card-text"><b>Descripcion:</b> {{perdidos[1].descripcion}}</p>
              <p class="card-text"><b>Fecha:</b> {{perdidos[1].fecha}}</p>
              <p class="card-text"><b>Lugar:</b> {{perdidos[1].ubicacion}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img [src]="perdidos[2].url_img" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> {{perdidos[2].raza}}</h5>
              <p class="card-text"><b>Descripcion:</b> {{perdidos[2].descripcion}}</p>
              <p class="card-text"><b>Fecha:</b> {{perdidos[2].fecha}}</p>
              <p class="card-text"><b>Lugar:</b> {{perdidos[2].ubicacion}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img [src]="perdidos[3].url_img" class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Raza:</b> {{perdidos[3].raza}}</h5>
            <p class="card-text"><b>Descripcion:</b> {{perdidos[3].descripcion}}</p>
            <p class="card-text"><b>Fecha:</b> {{perdidos[3].fecha}}</p>
            <p class="card-text"><b>Lugar:</b> {{perdidos[3].ubicacion}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img [src]="perdidos[4].url_img" class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Raza:</b> {{perdidos[4].raza}}</h5>
            <p class="card-text"><b>Descripcion:</b> {{perdidos[4].descripcion}}</p>
            <p class="card-text"><b>Fecha:</b> {{perdidos[4].fecha}}</p>
            <p class="card-text"><b>Lugar:</b> {{perdidos[4].ubicacion}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img [src]="perdidos[5].url_img" class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Raza:</b> {{perdidos[5].raza}}</h5>
            <p class="card-text"><b>Descripcion:</b> {{perdidos[5].descripcion}}</p>
            <p class="card-text"><b>Fecha:</b> {{perdidos[5].fecha}}</p>
            <p class="card-text"><b>Lugar:</b> {{perdidos[5].ubicacion}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      
    
    
  </div>
