<div class="container-fluid" style="margin-top: 70px;">
    <div class="container text-center">
        <h1 style="font-family: anton;">Mascotas Perdidas</h1>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcRPMKnq00NF_T7RusUNeLrSazRZM0S5O8_AOcw2iBTmYTxd3Q7uXf0sW41odpAKqSblKDMUMHGb8nZRo9g" class="card-img-top w-100" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Raza:</b> Golden Retriever</h5>
              <p class="card-text"><b>Descripcion:</b> Se encontro Golden amarillo en buen estado, tiene un collar rojo con un colgante en forma de hueso.</p>
              <p class="card-text"><b>Fecha:</b> 30/5/23</p>
              <p class="card-text"><b>Lugar:</b> Tavella y Guarumba</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
    
    
  </div>
